*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start:0;
    font-family: 'Heebo' , sans-serif;
    color:#ffff;
    text-decoration: none;  
    box-sizing: border-box; 
}

h2{
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
    margin-bottom: 2%;
}

h3{
    text-transform:capitalize;
}

body{
    width: auto;
    padding:1%;
    background-image: linear-gradient(to bottom, #e3c8c1, #caaba3,#885c5b);
}

.encabezado{
    display: flex;
    align-items: center;
    background-color: #e3c8c1;
    justify-content: space-between;
    margin: 0 -1%; 
    margin-bottom: 5%;
    padding: 2%;  
}

.imgLogo{   
    width: 100px;
    height: 100px;  
}
.encabezadoNav{ 
    width: 30%;
    margin: 2%;
}
.encabezadoNav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.encabezadoNav li{
    font-size: 20px;
    margin: 1%;
}    
.encabezadoNav ul li:hover{ 
    text-decoration: underline 2px solid;
}
 .contGaleria{   
    height:100%;
    margin: 3rem;
    margin-top: 0%;
    margin-bottom: 2%;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    width: 95%;
    margin-bottom: 5%;
}
.galeria img{
    width: 100%;
    height: 100%;   
} 
.info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "embarazo recienNacido paisajismo""institucional deportiva gastronomica";
    width: 90%;
    text-align: center;
    font-size: 20px;
    line-height: 1.5em; 
    margin: 0 auto;
}
.embarazo{
    grid-area: embarazo;
}
.recienNacido{
    grid-area: recienNacido;
}
.paisajismo{
    grid-area: paisajismo;
}
.institucional{
    grid-area: institucional;
}
.deportivas{
    grid-area: deportiva;
}
.gastronomia{
    grid-area:gastronomica;
}
.info p{
    margin: 2rem;

    text-align: left;
}

.imagFondo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height:100%;
    margin: 3rem;
}

.imagFondo img{
    width: 450px;
    margin: 2% auto;   
}
.imagFondo img:hover{
    transform: scale(1.4);
    transition: 2s all;
}

.redes{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
padding: 20px;
justify-content: center;
align-items: center ;
}

.redes i{
    padding: 10px;   
}

.redes span, .redes p{
    padding: 15px;
}

/*Pagina de Contactos*/

fieldset{
    padding: 0.5%;
    border-color: #885c5b57;
    border-style: solid;
    
}
select, input, option{
    color: #885c5b;
}
/*Pagina de Precios*/

.tabla{
    width:100%;
    height:auto ;
    margin: 3rem auto;
}

.tabla, th, td{    
    text-align: center;
    border: 3px solid ;
    border-collapse: collapse; 
    position: relative;
    padding: 1%;
}     
/*Pagina de Contacto*/
.conocenos{
    padding: 5%;  
}
@media only screen and (max-width: 600px){
    .encabezado{
        display: flex;
        align-items: center;
        background-color: #e3c8c1;
        justify-content: space-between;
        margin: 0 -1%; 
        margin-bottom: 5%;
        padding: 2%;  
        width: 90%;
    }
       
    header label{
        display: block;
    }  
    .encabezadoNav ul{
        flex-direction: column;
    }
    h2{
        display: flex;
        height: 100%;
        width: 85%;
        justify-content: center;
        margin: 10px;
        text-transform: uppercase;
        margin-top: 5%;
    }
    h3{
        width: 85%;
        text-align: center;
        margin-top: 2%;
    }
    .contGaleria{   
        height:95%;
        margin: 1rem;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .galeria{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85%;
        margin-bottom: 5%;
    }
    .info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "embarazo recienNacido"" paisajismo institucional" "deportiva gastronomica";
        width: 85%;
        text-align: justify;
        font-size: 15px;
        line-height: 1.5em; 
        margin: 0 auto;
    }
    .info p{
        margin: 1rem;
        text-align: justify;
        
    }
    .imagFondo{
        display:flex;
        flex-direction: column;
        width: 85%;
        justify-content: center;
        flex-wrap: nowrap;     
     }
    .imagFondo img{
        width: 200px;
        margin: 0 auto;
    }           

    .redes{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;        
        justify-content: center;
        align-items: center ;
        width: 90%;
        }
        
    .redes i{
            padding: 5px;   
        }
        
    .redes span, .redes p{
            padding: 7px;
        }
}

@media only screen and (min-width: 600px){
    
    
}
@media only screen and (max-width: 780px){
   
}

@media only screen and (min-width: 992px){

    .imagFondo img:hover{
        transform: scale(1.4,1.4);
        transition: all 2s;
    }
}
@media only screen and (min-width: 1200px){                       
    .imagFondo img:hover{
        transform: scale(1.4,1.4);
        transition: all 2s;
    }
}